body {
background-color: #1C1C1C;
display: flex;
justify-content: center;
}

#wrapper {
    background: #ECFDF5;
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#interface {
    width: 450px;
    height: 400px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

#interface h1 {
    margin-top: 130px;
    margin-bottom: 0px;
    font-family: Karla;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 33px;
    letter-spacing: -5%;
    line-height: 33px;
}

#interface h1 span {
    color: #10B981;
}

#subtitle {
    margin-top: 5px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}

#generate-password {
    background-color: #10B981;
    color: whitesmoke;
    font-family: Inter;    
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    transition: font-size 0.3s;

    margin-top: 45px;
}

#generate-password:hover {
    cursor: pointer;
    font-size: 16px;
}

#result {
    width: 450px;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

#result div {
    background-color: #273549;
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password-1 {
    width: 211px;
    height: 39px;
}

#password-2 {
    width: 211px;
    height: 39px;
}

.display {
    font-family: Inter;
    font-weight: 400;
    font-size: 13px;
    color: #5DEF92;
    margin: 0;
}

#char-count {
    font-family: Inter;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    width: 100%; 
    height: 5px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 1.0; 
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;;
}
